<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../webapp/css/mfss.css" th:href="@{/css/mfss.css}"/>
</head>
<body>
<nav th:fragment="header">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/feature1">Feature1</a></li>
        <li><a href="/feature2">Feature2</a></li>
    </ul>
</nav>
</body>
</html>