<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <link rel="stylesheet" type="text/css" media="all" href="../../webapp/css/mfss.css" th:href="@{css/mfss.css}"/>
    <meta charset="UTF-8">
    <title>My First Thymeleaf Template</title>
</head>
<body>
<nav th:replace="header :: header">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/feature1">Feature1</a></li>
        <li><a href="/feature2">Feature2</a></li>
    </ul>
</nav>
<h1>
    <span th:text="#{welcome.message}">Placeholder Message</span>
</h1>
<p>
    Current time is <span th:text="${serverTime}" />
</p>
</body>
</html>